body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.navbar {
   
    background-color: brown;
    position: fixed;
    font-weight: 600;
    object-fit: cover;
    width: 100%;
    margin: 0 auto; 
    overflow: hidden;
  }
  
    ul {
      text-decoration: none;
      list-style: none;
    } 
    
    li {
      float: right;
    }
    
    li a {
      display: block;
      color: white;
      padding: 16px 16px;
      text-decoration: none;
      float: right;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: white;
    }

    #contact-form {
      box-shadow: 0 20px 40px rgba(0,0,0,.2);
      padding: 5%;
  }
  
  .single-contact i {
      font-size: 30px;
      color: #008080;
  }
  
  .single-contact .socials i {
      font-size: 14px;
      color: #000000;
  }
  
  .socials i:hover {
      cursor: pointer;
  }
  
  .single-contact {
      margin-bottom: 50px;
  }
  
  .contact-area .form-control{
      border: none;
      border-bottom: 2px solid #a2a2a2;
      box-shadow: none;
      padding: 6px 0;
      border-radius: 0;
      margin-bottom: 30px;
  }
  
  .contact-area textarea.form-control{
      border:2px solid #a2a2a2;
      padding: 6px;
      height: 250px;
      margin-bottom: 30px;
  }
  
  .single-contact h2 {
      text-transform: uppercase;
      font-size: 16px;
  }
  
  .btn.btn-send {
      background: #008080;
      color: #ffffff;
      padding: 15px 20px;
      text-transform: uppercase;
      font-weight: 600;
  }
  
  .contact-right h2 {
      font-size: 18px;
      text-transform: uppercase;
  }
  
  .socials {
      padding-top: 5%;
  }
  
  .socials i {
      margin: 0 10px;
  }
  
  .single-contact {
      box-shadow: 0 20px 40px rgba(0,0,0,.2);
      padding: 5%;
  }
  

  